.product{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-img{
    display: flex;
    width: 200px;
    height: 250px;
    background-color: aliceblue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
}